@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap');
*{
  font-family: 'JetBrains','sans serif';

}
.Container{
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
}
.pass-copy{
  display: flex;
  background-color: #464646;
  height: 45px;
  align-items: center;
}
.pass-copy p{
color: #a8a8a8;
padding-left: 20px;
}
.pass-copy button{
  background-color: transparent;
  border: transparent;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}
.char-length{
  display:flex;

}
.char-length .nbr{
  color: rgb(30, 255, 0);
  position: absolute;
  right: 20px;
}
.length input{
  width:300px;
}

.generate{
 display: table;
 margin-left: auto;
 margin-right: auto;
 width: 300px;
 height: 40px;
 background-color: greenyellow;
 border: transparent;
 cursor: pointer;
}
form input{
  margin: 10px;
}
.strength{
  display: flex;
}
.ST{
  position: absolute;
  right: 20px;
}